<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>628103</key>
        <dict>
            <key>x</key>
            <real>628.0000000</real>
            <key>y</key>
            <real>103.0000000</real>
        </dict>
        <key>469407</key>
        <dict>
            <key>x</key>
            <real>469.0000000</real>
            <key>y</key>
            <real>407.0000000</real>
        </dict>
    </dict>
</plist>
