<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>404.92691.7442</key>
        <dict>
            <key>x</key>
            <real>404.9262695</real>
            <key>y</key>
            <real>91.7442398</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>246.188216.789</key>
        <dict>
            <key>x</key>
            <real>246.1877289</real>
            <key>y</key>
            <real>216.7885284</real>
            <key>bullettype</key>
            <integer>3</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
        <key>292.611129.931</key>
        <dict>
            <key>x</key>
            <real>292.6107788</real>
            <key>y</key>
            <real>129.9314270</real>
            <key>bullettype</key>
            <integer>3</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
        <key>477.557319.37</key>
        <dict>
            <key>x</key>
            <real>477.5565186</real>
            <key>y</key>
            <real>319.3697205</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>385.458246.739</key>
        <dict>
            <key>x</key>
            <real>385.4584656</real>
            <key>y</key>
            <real>246.7394562</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
    </dict>
</plist>
