<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>616</real>
		<key>y</key>
		<real>83</real>
	</dict>
	<key>11</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>524</real>
		<key>y</key>
		<real>408</real>
	</dict>
	<key>12</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>556</real>
		<key>y</key>
		<real>308</real>
	</dict>
	<key>13</key>
	<dict>
		<key>bullettype</key>
		<integer>3</integer>
		<key>herotype</key>
		<integer>2</integer>
		<key>x</key>
		<real>387</real>
		<key>y</key>
		<real>243</real>
	</dict>
	<key>14</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>496</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<key>15</key>
	<dict>
		<key>bullettype</key>
		<integer>2</integer>
		<key>herotype</key>
		<integer>2</integer>
		<key>x</key>
		<real>267</real>
		<key>y</key>
		<real>237</real>
	</dict>
	<key>16</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>101</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<key>17</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>140</real>
		<key>y</key>
		<real>317</real>
	</dict>
	<key>18</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>131</real>
		<key>y</key>
		<real>234</real>
	</dict>
	<key>19</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>285</real>
		<key>y</key>
		<real>77</real>
	</dict>
	<key>2</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>496</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<key>20</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>399</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<key>21</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>505</real>
		<key>y</key>
		<real>83</real>
	</dict>
	<key>22</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>616</real>
		<key>y</key>
		<real>83</real>
	</dict>
	<key>23</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>524</real>
		<key>y</key>
		<real>408</real>
	</dict>
	<key>24</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>556</real>
		<key>y</key>
		<real>308</real>
	</dict>
	<key>25</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>228.21678159999999</real>
		<key>y</key>
		<real>136.6704254</real>
	</dict>
	<key>26</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>270.8965149</real>
		<key>y</key>
		<real>136.6704254</real>
	</dict>
	<key>27</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>308.33526610000001</real>
		<key>y</key>
		<real>140.41415409999999</real>
	</dict>
	<key>28</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>186.28587340000001</real>
		<key>y</key>
		<real>38.581783299999998</real>
	</dict>
	<key>29</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>144.35496520000001</real>
		<key>y</key>
		<real>117.9514465</real>
	</dict>
	<key>3</key>
	<dict>
		<key>bullettype</key>
		<integer>2</integer>
		<key>herotype</key>
		<integer>2</integer>
		<key>x</key>
		<real>267</real>
		<key>y</key>
		<real>237</real>
	</dict>
	<key>4</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>101</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<key>5</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>140</real>
		<key>y</key>
		<real>317</real>
	</dict>
	<key>6</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>131</real>
		<key>y</key>
		<real>234</real>
	</dict>
	<key>7</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>285</real>
		<key>y</key>
		<real>77</real>
	</dict>
	<key>8</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>399</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<key>9</key>
	<dict>
		<key>bullettype</key>
		<integer>1</integer>
		<key>herotype</key>
		<integer>1</integer>
		<key>x</key>
		<real>505</real>
		<key>y</key>
		<real>83</real>
	</dict>
</dict>
</plist>
