<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>18939</key>
        <dict>
            <key>x</key>
            <real>189.0000000</real>
            <key>y</key>
            <real>39.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>252.742256.639</key>
        <dict>
            <key>x</key>
            <real>252.7419128</real>
            <key>y</key>
            <real>256.6387939</real>
            <key>bullettype</key>
            <integer>3</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
        <key>379.2299.901</key>
        <dict>
            <key>x</key>
            <real>379.2003174</real>
            <key>y</key>
            <real>299.9011230</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>132225</key>
        <dict>
            <key>x</key>
            <real>132.0000000</real>
            <key>y</key>
            <real>225.0000000</real>
            <key>bullettype</key>
            <integer>2</integer>
            <key>herotype</key>
            <integer>2</integer>
        </dict>
        <key>47927</key>
        <dict>
            <key>x</key>
            <real>479.0000000</real>
            <key>y</key>
            <real>27.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>339.267303.229</key>
        <dict>
            <key>x</key>
            <real>339.2665405</real>
            <key>y</key>
            <real>303.2288513</real>
            <key>bullettype</key>
            <integer>2</integer>
            <key>herotype</key>
            <integer>2</integer>
        </dict>
        <key>544428</key>
        <dict>
            <key>x</key>
            <real>544.0000000</real>
            <key>y</key>
            <real>428.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>197420</key>
        <dict>
            <key>x</key>
            <real>197.0000000</real>
            <key>y</key>
            <real>420.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>246.918151.812</key>
        <dict>
            <key>x</key>
            <real>246.9183502</real>
            <key>y</key>
            <real>151.8115387</real>
            <key>bullettype</key>
            <integer>2</integer>
            <key>herotype</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
