<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>10083</key>
        <dict>
            <key>x</key>
            <real>100.0000000</real>
            <key>y</key>
            <real>83.0000000</real>
            <key>bullettype</key>
            <integer>2</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
        <key>340.53276.0201</key>
        <dict>
            <key>x</key>
            <real>340.5322571</real>
            <key>y</key>
            <real>76.0201492</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>176.552295.409</key>
        <dict>
            <key>x</key>
            <real>176.5519714</real>
            <key>y</key>
            <real>295.4093628</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>543.44873.7741</key>
        <dict>
            <key>x</key>
            <real>543.4481812</real>
            <key>y</key>
            <real>73.7740784</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>516.493324.611</key>
        <dict>
            <key>x</key>
            <real>516.4929199</real>
            <key>y</key>
            <real>324.6110840</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
    </dict>
</plist>
