<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>18939</key>
        <dict>
            <key>x</key>
            <real>189.0000000</real>
            <key>y</key>
            <real>39.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>47927</key>
        <dict>
            <key>x</key>
            <real>479.0000000</real>
            <key>y</key>
            <real>27.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>197420</key>
        <dict>
            <key>x</key>
            <real>197.0000000</real>
            <key>y</key>
            <real>420.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>544428</key>
        <dict>
            <key>x</key>
            <real>544.0000000</real>
            <key>y</key>
            <real>428.0000000</real>
            <key>bullettype</key>
            <integer>1</integer>
            <key>herotype</key>
            <integer>1</integer>
        </dict>
        <key>132.939225.856</key>
        <dict>
            <key>x</key>
            <real>132.9389801</real>
            <key>y</key>
            <real>225.8563232</real>
            <key>bullettype</key>
            <integer>2</integer>
            <key>herotype</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
