<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>100.0000000</real>
            <key>y</key>
            <real>83.0000000</real>
            <key>bullettype</key>
            <integer>2</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>100.0000000</real>
            <key>y</key>
            <real>83.0000000</real>
            <key>bullettype</key>
            <integer>3</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>190.7788086</real>
            <key>y</key>
            <real>85.7544479</real>
            <key>bullettype</key>
            <integer>3</integer>
            <key>herotype</key>
            <integer>3</integer>
        </dict>
    </dict>
</plist>
